/*Simple reset*/
*{margin: 0; padding: 0;}
/*********************************/
/* FONTS */
@font-face {
  font-family: 'hyperdigital_outlineregular';
  src: url('assets/fonts/hyperdigital-outline-webfont.eot');
  src: url('assets/fonts/hyperdigital-outline-webfont.eot?#iefix') format('embedded-opentype'),
  url('assets/fonts/hyperdigital-outline-webfont.woff2') format('woff2'),
  url('assets/fonts/hyperdigital-outline-webfont.woff') format('woff'),
  url('assets/fonts/hyperdigital-outline-webfont.ttf') format('truetype'),
  url('assets/fonts/hyperdigital-outline-webfont.svg#hyperdigital_outlineregular') format('svg');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'hyperdigital_shadowregular';
  src: url('assets/fonts/hyperdigital-shadow-webfont.eot');
  src: url('assets/fonts/hyperdigital-shadow-webfont.eot?#iefix') format('embedded-opentype'),
  url('assets/fonts/hyperdigital-shadow-webfont.woff2') format('woff2'),
  url('assets/fonts/hyperdigital-shadow-webfont.woff') format('woff'),
  url('assets/fonts/hyperdigital-shadow-webfont.ttf') format('truetype'),
  url('assets/fonts/hyperdigital-shadow-webfont.svg#hyperdigital_shadowregular') format('svg');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'hyperdigitalregular';
  src: url('assets/fonts/hyperdigital-webfont.eot');
  src: url('assets/fonts/hyperdigital-webfont.eot?#iefix') format('embedded-opentype'),
  url('assets/fonts/hyperdigital-webfont.woff2') format('woff2'),
  url('assets/fonts/hyperdigital-webfont.woff') format('woff'),
  url('assets/fonts/hyperdigital-webfont.ttf') format('truetype'),
  url('assets/fonts/hyperdigital-webfont.svg#hyperdigitalregular') format('svg');
  font-weight: normal;
  font-style: normal;

}

/*********************************/

body {
  background: #FFFFFF;
  postion: realative;
}
canvas {
  display: block;
  margin: 0 auto;
  margin-top: 30px;
  background-color: #6b92b9;
}
.ontop {
  position: absolute;
  top: 7px;
  width: 100%;
  text-align: center;
  h1 {
    font-size: 45px;
  }
}
nav.overnav {
  position: absolute;
  top: 160px;
  width: 100%;
  z-index: 2;
  text-align: center;
}
nav {
  a {
    text-decoration: none;
    padding: 10px;
    }
  a.logo {
    display: block;
    color: #32CD32;
    font-size: 233px;
    font-family: 'hyperdigital_outlineregular';
    transition: color .2s ease-in-out;
    transition: all .5s ease-in-out;
  }
  a.logo:hover {
    color: #01fe01;
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
  }
  .dig {
    font-family: 'hyperdigitalregular';
  }
  a.port {
    display: none;
    color: #FFFFFF;
    font-size: 70px;
    font-family: 'hyperdigital_outlineregular';
  }
  i.fa-table {
    margin-right: 15px;
  }
  a.port:hover {
    color: #000000;
  }
}
.mac {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 7px;
  z-index: 1;
}
