/*Simple reset*/
*{margin: 0; padding: 0;}

body {
  /*You can use any kind of background here.*/
  background: #6b92b9;
  postion: realative;
}
canvas {
  display: block;
  margin-top: 3%;
  margin-left: 7.6%;
  background-color: #0000CD;
}
.ontop {
  position: absolute;
  top: 0;
  width: 100%;
  text-align: center;
  h1 {
    font-size: 45px;
  }
}
nav {
  display: none;
  position: absolute;
  top: 25px;
  width: 100%;
  background: #ff00ff;
  z-index: 2;
  a {
    color: #ffffff;
    text-decoration: none;
    padding: 10px;
    }
  a.logo {
    display: block;
    float: left;
    font-size: 51px;
  }
  a.port {
    display: block;
    float: right;
    padding-top: 20px;
    font-size: 34px;
  }
}
.mac {
  display: block;
  float: left;
  z-index: 1;
}
