nav.topnav {
  display: block;
  float: left;
  position: relative;
  width: 100%;
  padding-top: 25px;
  background: #6b92b9;
  text-align: center;
}
.main-grid {
  display: block;
  float: left;
  width: 100%;
  background: #000;
  h1 {
    font-size: 23px;
    color: #000000;
    text-align: center;
  }
  .mason {
    display: block;
    float: left;
    width: 100%;
  }
  section {
    img {
      display: block;
      float: left;
      width: 100%;
      margin-bottom: 20px;
    }
    h3 {
      margin-top: 20px;
      font-size: 23px;
      text-align: center;
      color: #FFFFFF;
    }
  }

}
.masonbrick {
  display: block;
  float: left;
  width: 33%;
}
.sd-project {
  display: block;
  float: left;
  width: 100%;
  background: #ff00ff;
}