nav.topnav {
  display: block;
  float: left;
  position: relative;
  width: 100%;
  padding-top: 25px;
  background: #6b92b9;
  text-align: center;
}
h3 {
  font-family: 'Roboto', serif;
  font-size: 45px;
  font-weight: bold;
}
p {
  font-family: 'Roboto', serif;
  font-size: 25px;
  font-weight: normal;
}
.main-grid {
  display: block;
  float: left;
  width: 100%;
  background: #000;
  h1 {
    font-size: 23px;
    color: #000000;
    text-align: center;
  }
  .mason {
    display: block;
    float: left;
    width: 100%;
  }
  section {
    img {
      display: block;
      float: left;
      width: 100%;
      margin-bottom: 20px;
    }
    h3 {
      margin-top: 20px;
      font-size: 23px;
      text-align: center;
      color: #FFFFFF;
    }
    a {
      text-decoration: none;
    }
  }

}
.project-display {
  display: block;
  float: left;
  width: 100%;
  background: #FFFFFF;
  .sd-project {
    display: block;
    float: left;
    width: 98%;
    background: #FFFFFF;
    img {
      float: left;
      width: 75%;
      margin-bottom: 50px;
    }
    .project-panel {
      float: left;
      width: 21%;
      padding: 80px 25px 25px 25px;
      h1{
        font-size: 35px;
        text-align: center;
        margin: 0 25px 25px 0;
        a {
          color:#00FF00;
          text-decoration: none;
        }
      }
    }
  }
  i {
    display: block;
    float: right;
    color: #00FF00;
    width: 2%;
    height: 2%;
    font-size: 40px;
  }
}
.masonbrick {
  display: block;
  float: left;
  width: 32%;
  margin: .65%
}
.masonbrick.hero {
  width: 64%;
  margin: .70%;
}
.pop {
  display: block;
  float:left;
  width: 100%;
  height: inherit;
}
.pop.ng-enter,
.pop.ng-leave {
  -webkit-transition: all 2s ease;
  transition: all 2s ease;
}
.pop.ng-enter {
  -webkit-transform: scale(0);
  transform: scale(0);
}
.pop.ng-enter-active,
.pop.ng-leave,
.pop.ng-leave-active {
  -webkit-transform: scale(1);
  transform: scale(1);
}
.pop.ng-leave-active {}
