.main-grid {
  display: block;
  float: left;
  width: 100%;
  h1 {
    font-size: 23px;
    color: #FFFFFF;
    text-align: center;
  }
  .mason {
    display: block;
    float: left;
    width: 100%;
  }
  section {
    width: 32%;
    margin: .65%;
    img {
      display: block;
      float: left;
      width: 100%;
      margin-bottom: 20px;
    }
    h3 {
      margin-top: 20px;
      font-size: 23px;
      text-align: center;
      color: #FFFFFF;
    }
  }

}