/*Simple reset*/
* {
  margin: 0;
  padding: 0; }

/*********************************/
/* FONTS */
@font-face {
  font-family: 'hyperdigital_outlineregular';
  src: url('assets/fonts/hyperdigital-outline-webfont.eot');
  src: url('assets/fonts/hyperdigital-outline-webfont.eot?#iefix') format('embedded-opentype'), url('assets/fonts/hyperdigital-outline-webfont.woff2') format('woff2'), url('assets/fonts/hyperdigital-outline-webfont.woff') format('woff'), url('assets/fonts/hyperdigital-outline-webfont.ttf') format('truetype'), url('assets/fonts/hyperdigital-outline-webfont.svg#hyperdigital_outlineregular') format('svg');
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'hyperdigital_shadowregular';
  src: url('assets/fonts/hyperdigital-shadow-webfont.eot');
  src: url('assets/fonts/hyperdigital-shadow-webfont.eot?#iefix') format('embedded-opentype'), url('assets/fonts/hyperdigital-shadow-webfont.woff2') format('woff2'), url('assets/fonts/hyperdigital-shadow-webfont.woff') format('woff'), url('assets/fonts/hyperdigital-shadow-webfont.ttf') format('truetype'), url('assets/fonts/hyperdigital-shadow-webfont.svg#hyperdigital_shadowregular') format('svg');
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'hyperdigitalregular';
  src: url('assets/fonts/hyperdigital-webfont.eot');
  src: url('assets/fonts/hyperdigital-webfont.eot?#iefix') format('embedded-opentype'), url('assets/fonts/hyperdigital-webfont.woff2') format('woff2'), url('assets/fonts/hyperdigital-webfont.woff') format('woff'), url('assets/fonts/hyperdigital-webfont.ttf') format('truetype'), url('assets/fonts/hyperdigital-webfont.svg#hyperdigitalregular') format('svg');
  font-weight: normal;
  font-style: normal; }

/*********************************/
body {
  background: #FFFFFF;
  postion: realative; }

canvas {
  display: block;
  margin: 0 auto;
  margin-top: 30px;
  background-color: #6b92b9; }

.ontop {
  position: absolute;
  top: 7px;
  width: 100%;
  text-align: center; }
  .ontop h1 {
    font-size: 45px; }

nav.overnav {
  position: absolute;
  top: 160px;
  width: 100%;
  z-index: 2;
  text-align: center; }

nav a {
  text-decoration: none;
  padding: 10px; }
nav a.logo {
  display: block;
  color: #32CD32;
  font-size: 233px;
  font-family: 'hyperdigital_outlineregular';
  transition: color .2s ease-in-out;
  transition: all .5s ease-in-out; }
nav a.logo:hover {
  color: #01fe01;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1); }
nav .dig {
  font-family: 'hyperdigitalregular'; }
nav a.port {
  display: none;
  color: #FFFFFF;
  font-size: 70px;
  font-family: 'hyperdigital_outlineregular'; }
nav i.fa-table {
  margin-right: 15px; }
nav a.port:hover {
  color: #000000; }

.touch-port {
  display: none; }

.mac {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 7px;
  z-index: 1; }

img.phone, img.tablet {
  display: none; }

.page-wrap {
  width: 95%;
  padding: 25px 2.5%;
  background: #ff00ff; }

.slideshow {
  display: block;
  position: absolute;
  top: 15px;
  right: 20px;
  height: 45px;
  width: 65px; }

.fa.fa-picture-o {
  font-size: 3.5em;
  color: black; }

.fa.fa-picture-o:hover {
  color: #0000CD; }

@media only screen and (max-width: 1370px) {
  #snow {
    display: none; }
  img.mac {
    width: 100% !important;
    height: 100% !important; }
  .touch-port {
    display: none; }
  .wrp {
    display: block;
    float: left;
    width: 83%;
    height: 666px;
    margin: 25px 0 0 110px;
    background-color: #6b92b9; } }

@media only screen and (max-width: 1200px) {
  #snow {
    display: none; }
  body {
    background-color: #FFFFFF; }
  img.tablet {
    display: block;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    position: fixed;
    bottom: 0; }
  .wrp {
    display: none; }
  img.phone, img.mac {
    display: none; }
  nav.overnav {
    right: 5%; }
  nav a.logo {
    font-size: 110px;
    color: #01fe01; }
  .hov-port {
    display: none !important; }
  .touch-port {
    display: block;
    color: #000000;
    font-size: 47px; } }

@media only screen and (max-width: 550px) {
  .wrp {
    display: block;
    width: 450px;
    height: 900px;
    margin: 5px 0 5px 10%;
    background-color: #6b92b9; }
  img.phone {
    display: block;
    width: 400px;
    height: 780px;
    margin: 0 auto; }
  img.tablet, img.mac {
    display: none; }
  nav.overnav {
    right: 0; }
  nav a.logo {
    font-size: 150px; } }

/* ----------- iPhone 4 and 4S ----------- */
/* Portrait and Landscape */
/* Portrait */
/* Landscape */
/* ----------- iPhone 5 and 5S ----------- */
/* Portrait and Landscape */
/* Portrait */
/* Landscape */
/* ----------- iPhone 6 ----------- */
/* Portrait and Landscape */
/* Portrait */
/* Landscape */
/* ----------- iPhone 6+ ----------- */
/* Portrait and Landscape */
/* Portrait */
/* Landscape */
/*================================================================*/
/* ----------- iPad 3 and 4 ----------- */
/* Portrait and Landscape */
/* Portrait */
/* Landscape */

nav.topnav {
  display: block;
  float: left;
  position: relative;
  width: 100%;
  padding-top: 25px;
  background: #6b92b9;
  text-align: center; }

h3 {
  font-family: 'Roboto', serif;
  font-size: 45px;
  font-weight: bold; }

p {
  font-family: 'Roboto', serif;
  font-size: 25px;
  font-weight: normal; }

.main-grid {
  display: block;
  float: left;
  width: 100%;
  background: #000; }
  .main-grid h1 {
    font-size: 23px;
    color: #000000;
    text-align: center; }
  .main-grid .mason {
    display: block;
    float: left;
    width: 100%; }
  .main-grid section img {
    display: block;
    float: left;
    width: 100%;
    margin-bottom: 20px; }
  .main-grid section h3 {
    margin-top: 20px;
    font-size: 23px;
    text-align: center;
    color: #FFFFFF; }
  .main-grid section a {
    text-decoration: none; }

.project-display {
  display: block;
  float: left;
  width: 100%;
  background: #FFFFFF; }
  .project-display .sd-project {
    display: block;
    float: left;
    width: 98%;
    padding: 1%;
    background: #FFFFFF; }
    .project-display .sd-project img {
      float: left;
      width: 75%;
      margin-bottom: 50px; }
    .project-display .sd-project .project-panel {
      float: left;
      width: 21%;
      padding: 80px 25px 25px 25px; }
      .project-display .sd-project .project-panel h1 {
        font-size: 35px;
        text-align: center;
        margin: 0 25px 25px 0; }
        .project-display .sd-project .project-panel h1 a {
          color: #00FF00;
          text-decoration: none; }
  .project-display i {
    display: block;
    float: left;
    color: #00FF00;
    width: 2%;
    height: 2%;
    margin: 1% 1% 0 97%;
    font-size: 40px; }
  .project-display button.btn-mc {
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
    background-color: #00FF00;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    cursor: pointer;
    color: #000000;
    font-family: 'Roboto', serif;
    font-size: 19px;
    padding: 13px 31px;
    text-decoration: none;
    text-transform: uppercase; }
  .project-display button.btn-mc:hover {
    color: #ffffff; }
  .project-display button.btn-mc:active {
    position: relative;
    top: 1px; }

.masonbrick {
  display: block;
  float: left;
  width: 32%;
  margin: .65%; }

.masonbrick.hero {
  width: 64%;
  margin: .7%; }

.pop {
  display: block;
  float: left;
  width: 100%;
  height: inherit; }

.pop.ng-enter, .pop.ng-leave {
  -webkit-transition: all 2s ease;
  transition: all 2s ease; }

.pop.ng-enter {
  -webkit-transform: scale(0);
  transform: scale(0); }

.pop.ng-enter-active, .pop.ng-leave, .pop.ng-leave-active {
  -webkit-transform: scale(1);
  transform: scale(1); }

