/*Simple reset*/
* {
  margin: 0;
  padding: 0; }

body {
  /*You can use any kind of background here.*/
  background: #6b92b9;
  postion: realative; }

canvas {
  display: block; }

.ontop {
  position: absolute;
  top: 0;
  width: 100%;
  padding-top: 25px;
  text-align: center; }
  .ontop h1 {
    font-size: 45px; }

nav {
  display: block;
  float: left;
  width: 100%;
  background: #ff00ff; }
  nav a {
    color: #ffffff;
    text-decoration: none;
    padding: 10px; }
  nav a.logo {
    display: block;
    float: left;
    font-size: 51px; }
  nav a.port {
    display: block;
    float: right;
    padding-top: 20px;
    font-size: 34px; }

.main-grid {
  display: block;
  float: left;
  width: 100%; }
  .main-grid h1 {
    font-size: 23px;
    color: #FFFFFF;
    text-align: center; }
  .main-grid .mason {
    display: block;
    float: left;
    width: 100%;
    background-color: #00ff00; }
  .main-grid section {
    width: 33%; }
  .main-grid img {
    display: block;
    float: left;
    width: 100%; }
