<div class="sd-project">
   <img ng-src="assets/imgs/pr-fullpixel.png">
   <div class="project-panel">
      <h1><a href="http://fullpixel.digital-badass.com/#/">FullPixel</a></h1>
      <p>FullPixel is the capstone project from Portland Code Schools JavaScript Immersion program.  It is a MEAN stack (MongoDB, Express, Angular & Node) web application.</p>
      <p>It was a group project with 3 other students. My portion was the CRUD API endpoints, database integration, the page routing and the Angular portion of the client side.</p>
   </div>
</div>