<div class="sd-project" >
   <img ng-src="assets/imgs/pr-juniper.png">
   <div class="project-panel">
      <p>The Juniper Fund is a not for profit charity that is giving back to the workers and local communities that support the mountaineering industry in Nepal.</p>
      <p>This was an amazing project to work on to help support such a humanitarian cause.</p>
      <p>The site was built with the developer platform in SquareSpace, which is still in beta.  It was a unique experience to build something with unproven set of tools and overcome the limitations of those tools.</p>
   </div>
</div>
