<div class="sd-project" >
   <img ng-src="assets/imgs/skylakesc.png">
   <div class="project-panel">
      <p>Working with the the Sky Lakes Medical Center to effect change through social media was one of the more rewarding projects I worked on. Creating a FaceBook application with HTML5, CSS3 and JavaScript that takes the user through the various stages and locations cancer attacks. There are few in our society that have not been directly effected by this terrible disease.</p>
   </div>
</div>
