<div class="sd-project" >
   <img ng-src="assets/imgs/pr-wafed.png">
   <div class="project-panel">
      <p>Locals Know best was a campaign implemented by Washington Federal to reward loyal customers by donating to local charites.</p>
      <p>It was the most challenging of the projects I have worked on as the Development and Production servers were behind the Washington Federals firewall and not accessible directly. All the changes were coordinated through their in house development team and debugged remotely.</p>
      <p>This is a FaceBook application developed with HTML5, CSS3, JavaScript and ASP.NET.</p>
   </div>
</div>