<div class="sd-project" >
   <img ng-src="assets/imgs/pr-winwat.png">
   <div class="project-panel">
      <p>Winding Waters Rafting is a local family run buisness.  Their new site, built with WordPress, made it easier and quicker to update the content allowing them do focus on exposing people to the amazing adventures they offer.</p>
      <p>The responsive theme showcases their commitment to health sustainable business.  Using the amazing photography they supplied we were able to craft a stunning user experience that was informative and inspiring.</p>

   </div>
</div>